 /* Body layout */
 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     height: 100vh;
     margin: 0;
     background-color: #fff;
     font-family: Arial, sans-serif;
     margin-top: 100px;
 }

 /* Game grid */
 #game {
     display: grid;
     grid-template-columns: repeat(7, 60px);
     gap: 5px;
 }

 #game button {
     width: 60px;
     height: 60px;
     font-size: 22px;
     cursor: pointer;
 }

 /* de score */
 #score {
     display: flex;
     justify-content: space-between;
     width: 200px;
     font-size: 20px;
 }

 /* de game ID */
 #gameIdText {
     width: 100%;
     text-align: center;
     margin-bottom: 10px;
     font-size: 14px;
 }

 /* actief speler */
 .active-player-red {
    color: red;
    font-weight: bold;
}

.active-player-yellow{
     color: yellow;
    font-weight: bold;
}