/* Body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#game {
    display: grid;
    grid-template-columns: repeat(7, 60px);
}

#score {
    display: flex;
    justify-content: space-between;
}

#gameIdText {
    width: 100%;
    height: 1rem;
    resize: none;
}
